<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.cts.install.lib"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="21"/>

    <application
        android:allowBackup="true"
        android:label="FuzzApp"
        android:supportsRtl="true">
        
        <service
            android:name="com.code_intelligence.jazzer.android.AndroidStart"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.code_intelligence.jazzer.driver.AndroidStartFuzz" />
            </intent-filter>
        </service>

    </application>
</manifest>